#server-text-channel-button {
  width: 280px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
}

#server-text-channel-button:hover {
  background-color: #35373c;
}

#server-text-channel-button:active {
  background-color: #3f4248;
}

#server-text-channel-name {
  font-family: UbuntuRegular;
}

#server-text-channel-hashtag {
  margin-right: 7px;
  color: gray;
}