#server-text-channel-button {
  width: 100%;
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 3px;
}

#server-text-channel-connected {
  width: 100%;
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 3px;
  background-color: #3f4248;
}

#server-text-channel-button:hover {
  background-color: #35373c;
}

#server-text-channel-button:active {
  background-color: #3f4248;
}

#server-text-channel-name {
  font-family: GibsonRegular;
  color: #949ba4;
  font-size: 19px;
}

#server-text-channel-name-active {
  font-family: GibsonRegular;
  color: white;
  font-size: 19px;
}

#server-text-channel-hashtag {
  margin-right: 7px;
  color: #949ba4;
}