#home-right-display-all-container {
  display: flex;
  flex-direction: column;
}

#home-right-display-all-count {
  font-family: GibsonMedium;
  font-size: 15px;
  margin: 15px;
}

#home-right-display-all-users-container {
  overflow-y: auto;
  max-height: 78vh;
}