#signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#signup-title {
  font-family: GibsonMedium;
  font-size: 35px;
  margin-bottom: 10px;
}

#signup-all-container {
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

#signup-input-container {
  display: flex;
  flex-direction: column;
}

.signup-input {
  margin: 5px;
  background-color: inherit;
  border: 2px solid #3F4750;
  border-radius: 11px;
  padding: 8px;
  font-family: GibsonRegular;
  width: 23rem;
  padding-left: 20px;
}

#signup-button-container {
  margin: 13px;
}

.signup-auth {
  font-family: GibsonMedium;
  border-radius: 11px;
  padding: 10px;
  margin: 4px;
}

#signup-submit {
  width: 5rem;
}

#signup-back {
  width: 11rem;
  height: 55;
}