#friend-button-main-div {
  cursor: pointer;
}

#friend-button-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #33315b;
  margin: 15px;
  padding-top: 20px;
  justify-content: space-between;
}

#friend-button-details-container {
  display: flex;
  flex-direction: row;
}

#friend-button-username-status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#friend-button-username {
  font-family: UbuntuBold;
}

#friend-button-status {
  font-family: UbuntuRegular;
  color: #ACACAC;
}

.friend-button-remove-friend {
  margin: 0px 20px;
}