#friend-button-main-div {
  cursor: pointer;
}

#friend-button-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #3e4047;
  margin: 0px 15px;
  padding: 20px 10px;
  justify-content: space-between;
}

#friend-button-container:hover {
  border-top: 1px solid transparent;
  background-color: #393b41;
  border-radius: 11px;
}

#friend-button-details-container {
  display: flex;
  flex-direction: row;
}

#friend-button-username-status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#friend-button-username {
  font-family: GibsonMedium;
}

#friend-button-status {
  font-family: GibsonRegular;
  color: #ACACAC;
}

.friend-button-remove-friend {
  margin: 0px 20px;
}