#forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#forgot-title {
  font-family: GibsonBold;
  font-size: 35px;
  margin-bottom: 10px;
}

#forgot-all-container {
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.forgot-input {
  margin: 5px;
  background-color: inherit;
  border: 2px solid #3F4750;
  border-radius: 11px;
  padding: 8px;
  font-family: GibsonMedium;
  width: 23rem;
  padding-left: 20px;
}

.forgot-input:focus {
  outline: none;
  caret-color: #0c6cfb;
}

#forgot-button-container {
  margin: 13px;
}

.forgot-auth {
  font-family: GibsonBold;
  border-radius: 11px;
  padding: 10px;
  margin: 4px;
}

#forgot-submit {
  width: 10rem;
}