#patch-notes-header-text {
  font-family: GibsonBold;
  font-size: 30px;
}

#patch-notes-new-features-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 15px;
  font-family: GibsonRegular;
}

#patch-notes-new-features {
  font-family: GibsonMedium;
  color: #05c268;
}

#patch-notes-bug-fixes-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-family: GibsonRegular;
}

#patch-notes-bug-fixes-header {
  font-family: GibsonMedium;
  color: #f23f42;
}