#home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden
}

#home-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

#home-contacts-search-container {
  display: flex;
  align-items: center;
  width: 300px;
}

#home-contacts-search {
  margin: 20px 10px;
  border-radius: 11px;
  padding: 10px 20px;
  font-family: GibsonRegular;
  background-color: #1E1E1E;
  color: #DDDEE9;
  width: 100%
}

#home-contacts-search::placeholder {
  color: #ACACAC;
}

#home-right-container {
  background-color: #313338;
  flex: 1;
  overflow: auto;
}