#home-container{
  display: flex;
  flex-direction: row;
}

#home-loader{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

#home-server-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1F22;
  height: 100vh;
  width: 100px;
}

#home-line-seperator{
  height: 3px;
  width: 3.5rem;
  border-radius: 11px;
  margin: 0 auto;
  background-color: #313338;
}

#home-contacts-bar{
  width: 300px;
  background-color: #252525;
  display: flex;
  flex-direction: column;
}

#home-contacts-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-contacts-search{
  margin: 2rem;
  border-radius: 11px;
  padding: 10px 20px;
  font-family: UbuntuMedium;
  background-color: #1E1E1E;
  color: #DDDEE9;
}

#home-contacts-search::placeholder{
  color: #ACACAC;
}

#home-contacts-navigators{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}