#home-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden
}

#home-loader{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

#home-contacts-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-contacts-search{
  margin: 2rem;
  border-radius: 11px;
  padding: 10px 20px;
  font-family: UbuntuMedium;
  background-color: #1E1E1E;
  color: #DDDEE9;
}

#home-contacts-search::placeholder{
  color: #ACACAC;
}

#home-right-container{
  width: 100%;
}