#messages-loader-container {
  height: 70px;
  display: flex;
  justify-content: center;
}

#messages-loader-button {
  font-family: GibsonRegular;
  color: #adadad;
}

#messages-loader-spinner {
  animation: spin 1s linear infinite;
}