#server-settings-members-member-container {
  padding: 20px;
  width: 100%;
  border-top: 1px solid #393b40;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#server-settings-members-member-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
}

#server-settings-members-member-add-button-container {
  display: flex;
  align-items: center;
}

#server-settings-members-member-add-button {
  padding: 5px;
  background-color: #232428;
  border-radius: 7px;
}

#server-settings-members-member-dots-container {
  display: flex;
  align-items: center;
}

#server-settings-members-member-roles-search {
  background-color: #1e1f22;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  border-radius: 4px;
  font-family: GibsonRegular;
}

#server-settings-members-member-roles-mapping {
  padding-top: 10px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#server-settings-members-member-roles-mapping::-webkit-scrollbar {
  width: 0px;
}

#server-settings-members-member-roles-mapping::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#server-settings-members-member-role-search-icon {
  position: absolute;
  right: 20px;
}

#server-settings-members-member-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.server-settings-members-member-dots-red-button {
  color: #ce373a;
  width: 100%;
  text-align: left;
  padding: 6px;
  border-radius: 2px;
  font-family: GibsonRegular;
  padding-left: 10px;
  margin-bottom: 3px;
}

.server-settings-members-member-dots-red-button:hover {
  background-color: #ce373a;
  color: white;
}