#user-settings-myaccount-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 100%;
}

#user-settings-myaccount-title {
  font-family: GibsonMedium;
  font-size: 25px;
}

#user-settings-myaccount-holder {
  margin-top: 30px;
  background-color: #1e1f22;
  padding: 15px;
  border-radius: 7px;
}

#user-settings-myaccount-username-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-settings-myaccount-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-settings-myaccount-username {
  font-family: GibsonMedium;
  font-size: 23px;
  margin-left: 20px;
}

#user-settings-myaccount-change-image {
  background-color: #5865f2;
  height: 40px;
  padding: 0px 17px;
  border-radius: 4px;
  font-family: GibsonRegular;
  transition: .2s ease;
}

#user-settings-myaccount-change-image:hover {
  background-color: #4752c4;
}

#user-settings-myaccount-change-image:active {
  background-color: #3c45a5;
}

#user-settings-myaccount-image-container {
  position: relative;
  height: 100px;
  width: 100px;
}

#user-settings-myaccount-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#user-settings-myaccount-status {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#user-settings-myaccount-all-information {
  background-color: #2a2d30;
  border-radius: 7px;
}

#user-settings-myaccount-all-information-editor {
  margin-top: 10px;
  border-radius: 7px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.user-settings-myaccount-editor-title {
  font-family: GibsonMedium;
  color: #abb4c1;
}

.user-settings-myaccount-editor-content {
  font-family: GibsonRegular;
}

.user-settings-myaccount-editor-edit-button {
  color: #d5e2e4;
  background-color: #4e5058;
  padding: 7px 20px;
  border-radius: 4px;
  font-family: GibsonRegular;
}

.user-settings-myaccount-all-information-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#user-settings-myaccount-editor-email-container {
  display: flex;
  flex-direction: row;
  gap: 10px ;
}

#user-settings-myaccount-email-reveal {
  font-family: GibsonRegular;
  color: #0692dd;
}

#user-settings-myaccount-email-reveal:hover {
  text-decoration: underline;
}

.user-settings-myaccount-seperator {
  margin: 40px 0px;
  height: 1px;
  width: 100%;
  background-color: #404346;
}

#user-settings-auth-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#user-settings-auth-title {
  font-family: GibsonMedium;
  font-size: 20px;
}

#user-settings-password-change-button {
  font-family: GibsonRegular;
  font-size: 14px;
  background-color: #5865f2;
  border-radius: 3px;
  padding: 7px;
  width: 150px;
  transition: .2s ease;
}

#user-settings-password-change-button:hover {
  background-color: #4752c4;
}

#user-settings-password-change-button:active {
  background-color: #3c45a5;
}

#user-settings-account-removal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#user-settings-account-removal-title {
  font-family: GibsonMedium;
  color: #a0b0c0;
  font-size: 14px;
}

#user-settings-account-removal-warning {
  font-family: GibsonLight;
  color: #899894;
}

#user-settings-account-removal-delete-button {
  border: 1px solid #da363d;
  width: 135px;
  height: 35px;
  border-radius: 4px;
  font-family: GibsonRegular;
  font-size: 14px;
  transition: .2s ease;
}

#user-settings-account-removal-delete-button:hover {
  background-color: #da363d;
}