#server-settings-members-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#server-settings-members-title {
  font-family: GibsonMedium;
  font-size: 25px;
}

#server-settings-members-count {
  font-family: GibsonRegular;
  margin: 15px 0px;
}

#server-settings-members-mapping {
  margin-top: 25px;
  overflow-y: auto;
}

#server-settings-members-count-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#server-settings-members-search-input {
  padding: 7px 20px;
  background-color: #1e1f22;
  border-radius: 4px;
  font-family: GibsonRegular;
}

#server-settings-members-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#server-settings-members-search-input-icon {
  position: absolute;
  right: 10px;
}

#server-settings-members-header {
  height: 200px;
  margin-top: 50px;
}