#dm-message-util-buttons {
  position: absolute;
  top: -20px;
  right: 20px;
  background-color: #313338;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}