#blockeduser-button-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #33315b;
  margin: 15px 0px;
  padding-top: 20px;
  justify-content: space-between;
}

#blockeduser-button-username-status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#blockeduser-button-username {
  font-family: GibsonBold;
}

#blockeduser-button-status {
  font-family: GibsonRegular;
  color: #ACACAC;
}

#home-right-display-blocked-container {
  display: flex;
  justify-content: center;
}

#home-right-display-blocked-count {
  font-family: GibsonMedium;
  font-size: 15px;
  margin: 15px 0px;
}

#home-right-display-blocked-users {
  width: 97%;
  display: flex;
  flex-direction: column;
}

#blockeduser-button-details-container {
  display: flex;
  flex-direction: row;
}

#blockeduser-button-unblock {
  margin: 0px 20px;
}

#home-right-display-blocked-users-container {
  overflow-y: auto;
  max-height: 78vh;
}