#home-right-display-addfriend-container {
  display: flex;
  justify-content: center;
}

#home-right-display-addfriend-main {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-right-display-addfriend-title {
  font-family: UbuntuBold;
  font-size: 19px;
  color: #DDDEE9;
  margin: 20px;
}

#home-right-display-addfriend-text {
  font-family: UbuntuRegular;
  margin: 10px;
  font-size: 15px;
  color: #a4a4a4;
}

.home-right-display-addfriend-input {
  margin: 10px;
  width: 60%;
  height: 60px;
  border: #181818 solid 1px;
  border-radius: 8px;
  background-color: #1c1c24;
  padding-left: 20px;
  color: #DDDEE9;
  font-family: UbuntuMedium;
}

.home-right-display-addfriend-input:focus{
  border: 1px solid rgb(57, 110, 255);
}

.home-right-display-addfriend-input::placeholder {
  color: #909090;
}

.home-right-display-addfriend-submit {
  position: absolute;
  font-family: UbuntuMedium;
  padding: 8px 20px;
  border-radius: 4px;
  right: 305px;
}

#addfriend-submit-active{
  color: #DDDEE9;
  background-color: #5c64f4;
  transition: 0.3s ease;
}

#addfriend-submit-active:hover{
  background-color: #4c52c7;
}

#addfriend-submit-active:active{
  background-color: #393e95;
}

#addfriend-submit-inactive{
  color: #8a8a8a;
  background-color: #35398f;
  cursor:default;
}

#home-right-display-addfriend-input-container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}