#messages-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#message-container:hover{
  background-color: #191D2A;
}

#messages-top-bar{
  display: flex;
  align-items: center;
  height: 8%;
  background-color: #252525;
}

#dm-conversation-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#message-container{
  display: flex;
  flex-direction: row;
  padding: 15px;
}

#dm-username-message-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
}

#dm-message-username{
  font-family: UbuntuMedium;
  margin-right: 1rem;
}

#dm-message-username-deleting {
  font-family: UbuntuMedium;
  margin-right: 1rem;
  color: #b5b5b5;
}

#dm-message-createdat{
  font-family: UbuntuLight;
  color: rgb(173, 173, 173);
}

#dm-message-message{
  font-family: UbuntuRegular;
  color: #DDDEE9;
}

#dm-message-message-deleting {
  font-family: UbuntuRegular;
  color: #b5b5b5;
}

#dm-username-createdat{
  display: flex;
  flex-direction: row;
}

#dm-conversation-input-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#dm-messages-container{
  height: 83%;
  overflow-y: scroll;
}

#dm-message-remove-button {
  cursor: pointer;
}

.twemoji{
  height: 30px;
}

.dm-message-link{
  color: #6da7ff;
  text-decoration: underline;
}