#bug-report-header-container {
  display: flex;
  justify-content: center;
  font-family: GibsonMedium;
  font-size: 25px;
}

#bug-report-textarea {
  width: 100%;
  font-family: GibsonRegular;
  padding: 10px;
  background-color: #1f1e22;
  border-radius: 4px;
}

#bug-report-send-ticket {
  height: 45px;
  width: 120px;
  font-family: GibsonRegular;
  border-radius: 4px;
  background-color: #5865f2;
  transition: .2s ease;
}

#bug-report-send-ticket:hover {
  background-color: #4752c4;
}

#bug-report-send-ticket:active {
  background-color: #3c45a5;
}