#home-conversation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-conversation-conversation {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 10px;
  border-radius: 7px;
  margin: 3px;
}


.home-conversation-conversation:hover {
  background-color: #36373d
}

.home-conversation-conversation:active {
  background-color: #42434a;
}

.home-conversation-conversation-highlighted {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 10px;
  border-radius: 7px;
  background-color: #42434a;
  margin: 3px;
}

.home-conversation-conversation-highlighted:hover {
  background-color: #36373d
}

.home-conversation-conversation-highlighted:active {
  background-color: #42434a;
}

.home-conversation-username-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 5px;
}

.home-conversation-username-text {
  font-family: GibsonRegular;
  font-size: 19px;
}