#home-right-display-online-container {
  display: flex;
  flex-direction: column;
}

#home-right-display-online-count {
  font-family: GibsonMedium;
  font-size: 15px;
  margin: 15px;
}

#home-right-display-online-users-container {
  overflow-y: auto;
  max-height: 78vh;
}