#server-messages-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#server-messages-channel-messages{
  height: 100%;
  overflow-y: auto;
  flex: 1;
}

#server-content-main{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #313338;
}

#server-message-input-container{
  margin-bottom: 20px;
}

#server-content-container{
  display: flex;
  flex-direction: row;
  height: 100%;
}