#server-voice-channel-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6px;
  display: flex;
  border-radius: 3px;
}

#server-voice-channel-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#server-voice-channel-button:hover {
  background-color: #35373c;
}

#server-voice-channel-button:active {
  background-color: #3f4248;
}

#server-voice-channel-name {
  font-family: GibsonRegular;
}

#server-voice-channel-speaker {
  margin-right: 7px;
  color: gray;
}