#home-server-bar-create{
  height: 70px;
  width: 70px;
  background-color: #313338;
  border-radius: 100px;
  margin: 10px;
  transition: border-radius 0.2s, background-color 0.3s ;
}

#home-server-bar-create:hover{
  background-color: #23a559;
  border-radius: 25px;
}

#home-server-bar-create-icon-unhovered{
  color: #23a559;
  transition: color 0.3s;
}

#home-server-bar-create-icon-hovered{
  color: white;
}

.home-server-bar-modal-text{
  font-family: UbuntuRegular;
  font-size: 15px;
  text-align: center;
}

#home-server-bar-modal-create{
  display: flex;
  border: 1px #a4a4a4 solid;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  font-family: UbuntuMedium;
  width: 100%;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}

#home-server-bar-modal-create:hover{
  background-color: #36495d;
}

#home-server-bar-modal-create-text{
  font-size: 20px;
}

#home-server-bar-modal-seperator{
  margin-top: auto;
  align-items: center;
  text-align: center;
  width: 100%;
  bottom: 20px;
}

.home-server-bar-modal-seperator-text{
  font-family: UbuntuRegular;
  margin: 10px;
}

#home-server-bar-modal-seperator-join{
  background-color: #706c7c;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  font-family: UbuntuMedium;
  margin-top: 5px;
}

#home-server-bar-modal-create-camera{
  display: none;
}

#home-server-bar-modal-seperator-create{
  width: 100%;
}

#home-server-bar-modal-seperator-label{
  margin-bottom: 5px;
  font-family: UbuntuRegular;
}

#home-server-bar-modal-seperator-input{
  width: 100%;
  background-color: #4f4f4f;
  padding: 10px;
  border-radius: 4px;
  font-family: UbuntuRegular;
}

#home-server-bar-modal-seperator-create-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#home-server-bar-modal-seperator-create-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.home-server-bar-modal-seperator-create-button{
  font-family: UbuntuRegular;
}

#home-server-bar-modal-seperator-create-create{
  background-color: #6064f4;
  padding: 15px;
  border-radius: 7px;
  width: 8rem;
}

#home-server-bar-modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#home-server-bar-modal-create-camera-label{
  margin: 20px;
  cursor: pointer;
}

#home-server-bar-modal-create-picture{
  height: 150px;
  width: 150px;
  border-radius: 100px;
}