#server-roles-bar-container {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 100%;
  background-color: #2b2d31;
  overflow-y: auto;
}

#server-roles-bar-main-container{
  width: 87%;
  margin-top: 15px;
}

#one-role-offline-name {
  margin-top: 5px;
}