#home-contacts-bar{
  width: 270px;
  height: 100vh;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
}

#home-contacts-navigators{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}