#user-settings-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#user-settings-dropdown-container {
  flex: 30%;
  background-color: #2b2d31;
  display: flex;
  justify-content: end;
}

#user-settings-info-container { 
  flex: 70%;
  background-color: #313338;
}

#user-settings-info {
  margin-left: 40px;
  position: relative;
  width: 80%;
  overflow-y: auto;
  height: 100%;
}

#user-settings-info::-webkit-scrollbar {
  width: 0px;
}

#user-settings-info::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#user-settings-dropdown {
  margin: 20px;
  width: 200px;
}

#user-settings-title {
  font-family: GibsonMedium;
  color: #86929b;
  margin-left: 9px;
  margin-bottom: 10px;
}

#user-settings-leave-button {
  position: absolute;
  right: 50px;
  top: 50px;
}

#user-settings-leave-div {
  border-radius: 50%;
  border: 2px solid #a4a8af;
  padding: 5px;
  margin-bottom: 10px;
}