#turbo-subscribe-button {
  background-color: #fefeff;
  color: #5864f3;
  padding: 10px 25px;
  font-family: GibsonRegular;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

#turbo-subscribe-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #d8dafc;
  transform: rotate(-60deg);
  transition: left 1s, transform 1s;
  opacity: 60%;
}

#turbo-subscribe-button:hover::before {
  left: 100%;
  transform: rotate(-60deg);
}
