#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#login-title {
  font-family: GibsonMedium;
  font-size: 35px;
  margin-bottom: 10px;
}

#login-all-container {
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

#login-input-container {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: 5px;
  background-color: inherit;
  border: 2px solid #3F4750;
  border-radius: 11px;
  padding: 8px;
  font-family: GibsonRegular;
  width: 23rem;
  padding-left: 20px;
}

#login-button-container {
  margin: 13px;
}

.login-auth {
  font-family: GibsonMedium;
  border-radius: 6px;
  padding: 10px;
  margin: 4px;
}

#login-login {
  color: #00262D;
  width: 5rem;
}

#login-forgot-password {
  cursor: pointer;
  font-family: GibsonMedium;
  color: #DDDEE9;
}