#container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#title{
  font-family: UbuntuBold;
  font-size: 35px;
  margin-bottom: 10px;
}

#all-container{
  align-items: center;
  justify-content: center;
}

#input-container{
  display: flex;
  flex-direction: column;
}

.input{
  margin: 5px;
  background-color: inherit;
  border: 2px solid #3F4750;
  border-radius: 11px;
  padding: 8px;
  font-family: UbuntuMedium;
  width: 23rem;
  padding-left: 20px;
}

.input:focus{
  outline: none;
  caret-color: #0c6cfb;
}

#button-container{
  margin: 13px;
}

.auth{
  font-family: UbuntuBold;
  border-radius: 11px;
  padding: 10px;
  margin: 4px;
}

#login{
  background-color: #62CAC2;
  color: #00262D;
  width: 5rem;
}

#create{
  background-color: #292E37;
  color: #DDDEE9;
  width: 11rem;
  height: 55;
}

