body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus{
  outline: none;
  caret-color: #0c6cfb;
}

input::selection{
  background-color: #62CAC2;
}

@font-face {
  font-family: UbuntuRegular;
  src: url("./assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: UbuntuBold;
  src: url("./assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: UbuntuMedium;
  src: url("./assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
}