body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
  caret-color: #0c6cfb;
}

input::selection {
  background-color: #62CAC2;
}

@font-face {
  font-family: UbuntuRegular;
  src: url("./assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: UbuntuBold;
  src: url("./assets/fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: UbuntuMedium;
  src: url("./assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: UbuntuLight;
  src: url("./assets/fonts/Ubuntu/Ubuntu-Light.ttf");
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #27282c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #191a1d;
  border-radius: 10px;
  border: 2px solid #27282c;
}

p:not(.selectable) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}