body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  background-color: #1a202c;
}

input,
textarea:focus {
  outline: none;
  caret-color: #0c6cfb;
}

input,
textarea::selection {
  background-color: #62CAC2;
}

textarea {
  resize: none !important;
}

@font-face {
  font-family: GibsonRegular;
  src: url("./assets/fonts/Gibson/Gibson-Regular.ttf");
}

@font-face {
  font-family: GibsonBold;
  src: url("./assets/fonts/Gibson/Gibson-Bold.ttf");
}

@font-face {
  font-family: GibsonMedium;
  src: url("./assets/fonts/Gibson/Gibson-Medium.ttf");
}

@font-face {
  font-family: GibsonLight;
  src: url("./assets/fonts/Gibson/Gibson-Light.ttf");
}

.default-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.default-scrollbar::-webkit-scrollbar-track {
  background-color: #27282c;
  border-radius: 5px;
}

.default-scrollbar::-webkit-scrollbar-thumb {
  background-color: #191a1d;
  border-radius: 10px;
}

p,
h1:not(.selectable) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}