#conversation-other-users-container {
  display: flex;
  align-items: center;
}

#conversation-other-users-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

#conversation-other-users-username {
  font-family: GibsonBold;
  font-size: 20px;
  margin-left: 0.5rem;
}