#dm-conversation-input{
  width: 98%;
  border-radius: 4px;
  padding: 15px;
  background-color: #212937;
  font-family: UbuntuRegular;
  color: #DDDEE9;
}

#message-input-emoji-picker{
  position: absolute;
  right: 30px;
}

#emoji-picker-container{
  position: absolute;
  right: 40px;
  bottom: 100px;
}

#message-input-link-label{
  position: absolute;
  right: 75px;
}

#message-input-link-label:hover{
  cursor: pointer;
}

#message-input-link-input{
  display: none;
}

#dm-upload-header{
  display: flex;
  justify-content: center;
}

#dm-upload-header-text{
  font-family: UbuntuBold;
  font-size: 24px;
}

#dm-upload-footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dm-upload-footer-submit{
  background-color: #6064f4;
  padding: 15px;
  border-radius: 7px;
  width: 8rem;
  font-family: UbuntuMedium;
  margin-right: 10px;
}

#dm-upload-footer-cancel{
  margin-left: 10px;
  padding: 15px;
  border: 1px #6064f4 solid;
  border-radius: 7px;
  width: 8rem;
  font-family: UbuntuMedium;
}