#server-container {
  display: flex;
  height: 100vh;
}

#server-name {
  font-family: GibsonMedium;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
}

#server-name-container {
  border-bottom: 3px #3c3f45 solid;
  border-radius: 2px;
}

#server-popover-name-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #3c3f45;
  padding: 15px;
}

#server-bar-container {
  width: 270px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #2b2d31;
}

#server-bar-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#server-right-display-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#server-banner-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 40px;
}

#server-category-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  align-self: center;
  width: 95%;
}

#server-category-main-container::-webkit-scrollbar {
  width: 4px;
}

#server-category-main-container::-webkit-scrollbar-thumb {
  background: #1a1b1e;
  width: 2px;
  border-radius: 11px;
}

#server-category-main-container::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 10px;
}

#server-categories-loader {
  align-self: center;
  margin: 50px;
}