#home-contacts-userbar-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: #232428;
}


#home-contacts-userbar-avatar-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#home-contacts-userbar-username {
  font-family: GibsonMedium;
}

#home-contacts-userbar-status {
  font-family: GibsonRegular;
  color: #b5bab7;
}

#home-contacts-userbar-avatar-name-status {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.home-contacts-userbar-icon {
  height: 25px;
  width: 25px;
  margin-left: 12px;
  color: #b5bac1;
}

#home-contacts-userbar-icons-section {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.home-contacts-userbar-popover-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px;
  border-radius: 7px;
}

.home-contacts-userbar-popover-button:hover {
  background-color: #3c3e44;
}

#home-contacts-userbar-status-buttons-container {
  display: flex;
  flex-direction: column;
}

.home-contacts-userbar-status-button {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #b3b8bf;
  font-family: GibsonRegular;
  padding: 5px;
  border-radius: 3px;
}

.home-contacts-userbar-status-button:hover {
  background-color: #4752c4;
  color: white;
}

#user-bar-online-circle {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #23a559;
  margin-right: 7px;
}

#user-bar-busy-circle {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #f23f42;
  margin-right: 7px;
}

#user-bar-invisible-circle {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #f23f42;
  margin-right: 7px;
  background-color: #80848e;
}

#user-bar-hovered-status {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: white;
  margin-right: 7px;
}