.server-confirmation-header {
  font-size: 24px;
  font-family: GibsonRegular;
}

#server-leave-confirmation-server-name {
  font-family: GibsonMedium;
  font-size: 20px;
  color: #dbdee1;
}

#server-leave-confirmation-text {
  font-family: GibsonRegular;
  font-size: 19px;
  color: #cdd0d4;
}

.server-confirmation-submit-button {
  background-color: #da373c;
  padding: 9px;
  width: 130px;
  border-radius: 3px;
  font-family: GibsonRegular;
  transition: .2s ease;
  margin-left: 20px;
}

.server-confirmation-submit-button:hover {
  background-color: #a12828;
}

.server-confirmation-submit-button:active {
  background-color: #8f2022;
}

.server-confirmation-cancel-button {
  font-family: GibsonRegular;
}

.server-confirmation-cancel-button:hover {
  text-decoration: underline;
}

#server-delete-confirmation-container {
  background-color: #f0b132;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#server-delete-confirmation-text {
  font-size: 18px;
  font-family: GibsonRegular;
}

#server-delete-confirmation-server-name {
  font-family: GibsonMedium;
  font-size: 19px;
}

#server-delete-confirmation-enter-name {
  font-family: GibsonMedium;
  color: #b5bac1;
  font-size: 15px;
  margin-bottom: 10px;
}

#server-delete-confirmation-input {
  font-family: GibsonRegular;
  background-color: #1e1f22;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 7px;
}

#server-delete-confirmation-incorrect {
  font-family: GibsonLight;
  font-size: 13px;
  color: #e16f73;
}

#create-category-modal-header {
  font-family: GibsonMedium;
  font-size: 25px;
}

#create-category-modal-input-title {
  font-family: GibsonMedium;
  font-size: 14px;
  color: #d6d8db;
  margin-bottom: 5px;
}

#create-category-modal-input {
  font-family: GibsonRegular;
  width: 100%;
  padding: 10px;
  background-color: #1e1f22;
  border-radius: 3px;
  margin-bottom: 10px;
}

#create-category-modal-submit-button {
  background-color: #5865f2;
  padding: 9px;
  width: 150px;
  border-radius: 3px;
  font-family: GibsonRegular;
  transition: .2s ease;
  margin-left: 20px;
}

#create-category-modal-submit-button:hover {
  background-color: #4752c4;
}

#create-category-modal-submit-button:active {
  background-color: #3c45a5;
}

#create-category-modal-submit-disabled {
  background-color: #414891;
  padding: 9px;
  width: 150px;
  border-radius: 3px;
  font-family: GibsonRegular;
  margin-left: 20px;
  color: #949396;
  cursor: not-allowed;
}