#server-topbar-container {
  background-color: #252525;
  height: 85px;
  box-shadow: black 2px 2px;
  display: flex;
  align-items: center;
}

#server-topbar-content {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#server-topbar-channel-name{
  font-family: UbuntuMedium;
  font-size: 20px;
  margin-left: 10px;
}