#server-settings-bans-container {
  width: 65%;
  margin-top: 50px;
}

#server-settings-bans-title {
  font-family: GibsonMedium;
  font-size: 25px;
}

#server-settings-bans-search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#server-settings-bans-search-input {
  background-color: #1e1f22;
  border-radius: 4px;
  font-family: GibsonRegular;
  padding: 7px;
  width: 100%;
  margin: 20px 0px;
  padding-left: 20px;
}