#home-navigator-button{
  border-radius: 7px;
  transition: background-color 0.1s ease;
  font-family: UbuntuBold;
  width: 90%;
  height: 60px;
  text-align: left;
  display: flex;
  align-items: center;
}

#home-navigator-button-selected{
  border-radius: 7px;
  transition: background-color 0.1s ease;
  font-family: UbuntuBold;
  width: 90%;
  height: 60px;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: #42434a
}

#home-navigator-button:hover{
  background-color: #36373d;
}

#home-navigator-button:active{
  background-color: #42434a;
}

.home-navigator-icon{
  height: 30px;
  width: 30px;
  margin: 15px;
}