#server-settings-members-member-hasrole {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  padding: 3px 12px;
  background-color: #232428;
}

#server-settings-members-member-hasrole-name {
  font-family: GibsonRegular;
  margin-left: 6px;
}